*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(127, 175, 237);
}
form{
    /* justify-content: center; */
    text-align: center;
    height: 520px;
    width: 350px;
    background-color: black;
    border-radius: 20px;
    border: 2px solid black;
    
    
    
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
.container form .main{
    padding: 100px;
    
}
.container form .button input{
    border-radius: 50%;
    padding: 17px 20px ;
    font-size: larger;
    margin: 4px;
    width: 60px;
    /* color: white; */
    /* background-color: gray; */
    
}
.container form h2{
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-right: 230px;
    font-family: cursive;
    font-size: 20px;
}
p{
    color: white;
    font-size: 10px;
    margin-top: -20px;
}